.main {
	display: flex;
	flex: 1;
	position: relative;
	background-color: #fff;
	height: 100vh;
}

.content {
}

.contentWrapper {
	border: 2px solid rgb(55, 58, 58);
	border-radius: 20px 6px 6px 20px;
	padding: 20px;
	width: 97%;
	height: 88%;
	margin: 10px;
	background-color: rgb(126, 125, 125);
	box-shadow: 1px 1px 46px 1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 1px 1px 46px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 46px 1px rgba(0, 0, 0, 0.75);
	overflow: auto;

	@media (max-width: 768px) {
		margin: 10px;
	}
}

.title {
	font-size: 25px;
	font-weight: bold;
	color: rgb(1, 219, 231);
	@media (max-width: 768px) {
		font-size: 22px;
	}
}
.text {
	font-size: 19px;
	color: #fff;
	line-height: 1.4;
	p {
		i {
			color: gold;
			font-size: 24px;
		}
	}
}
.itemWrapper {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	@media (max-width: 768px) {
		gap: 20;
	}
}
.item {
	@media (max-width: 768px) {
		padding-top: 0;
	}
	img {
		height: 240px;
		width: 245px;

		border-radius: 15px;
		object-fit: cover;

		transition: 0.3s ease all;
		&:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
		@media (max-width: 768px) {
			width: 320px;
			margin-bottom: 20px;
		}
	}
}
.firstLab {
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		&:hover {
			transform: scale(1);
			@media (max-width: 768px) {
				transform: scale(1.1);
			}
		}
	}
}

.contentWrapper::-webkit-scrollbar {
	width: 10px;
	@media (max-width: 768px) {
		display: none;
	}
}

.contentWrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #18aaaa;
}

.contentWrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	background-color: #c1eced;
	border-radius: 10px;
}
