.hamburger_layout {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	gap: 3px;

	height: 20px;
	width: 20px;

	cursor: pointer;
	@media (max-width: 768px) {
		display: flex;
	}
}
.hamburger_hover_animate {
	position: relative;
	.barTop {
		transform: rotate(55deg);
	}
	.barMiddle {
		transform: translateX(16px);
		opacity: 0;
	}
	.barBottom {
		transform: rotate(-55deg);
	}
}

.bar_layout {
	height: 3px;
	border-radius: 5px;
	transform-origin: left;
	transition: all 0.5s;
}

.barTop {
	background-color: rgb(1, 184, 250);
}
.barMiddle {
	background-color: rgb(1, 184, 250);
}
.barBottom {
	background-color: rgb(1, 184, 250);
}
