.hamburger_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;

  height: 20px;
  width: 20px;

  cursor: pointer;
}
.hamburger_hover_animate {
  .barTop {
    transform: rotate(55deg);
  }
  .barMiddle {
    transform: translateX(16px);
    opacity: 0;
  }
  .barBottom {
    transform: rotate(-55deg);
  }
}

.bar_layout {
  height: 3px;
  border-radius: 5px;
  transform-origin: left;
  transition: all 0.5s;
}

.barTop {
  background: #159957;
  background: -webkit-linear-gradient(to left, #155799, #159957);
  background: linear-gradient(to left, #155799, #159957);
}
.barMiddle {
  background: #06beb6;
  background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);
  background: linear-gradient(to left, #48b1bf, #06beb6);
}
.barBottom {
  background: #0f2027;
  background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
}
